
body{
    overflow-x: hidden;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}


//Start SVGs
.rightSVG{
    position: absolute;
    right: -600px;
    top: 125px;
    z-index: 0;
}
//End SVGs

nav {
    position: relative;
    z-index: 10000;
    .navbar-brand{
        letter-spacing: 1px;
        font-size: 40px;
        font-family: 'Abril Fatface', cursive;
    }
}

//left Side
img {
    margin-top: -50px;
}


//Right Side
.right-side {

    .card {
        align-self: center;
        background: none;
        border: none;
        margin-left: -90px;

        h3 {
            color: #707070;
            margin-bottom: 20px;
        }

        textarea {
            margin-bottom: 10px;
            width: 400px;
            padding: 5px;
            border: 1px solid #403FF25A;
            border-radius: 5px;
        }

        input {
            position: relative;
            z-index: 1000;
            margin-bottom: 10px;
            width: 400px;
            padding: 5px;
            border: 1px solid #403FF25A;
            border-radius: 5px;

            &:last-of-type {  
                margin-top: 15px;  
                width: 100px;
                background-color: rgba(64,63,242,1);
                color: #fff;
            }
        }

        .card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            margin-bottom: 10px;
            width: 400px;
            padding: 5px;
            border: 1px solid #403FF25A;
            border-radius: 5px;
            span {
                color: #666666;
            }

            button {
                background-color: #00C9B2;
                color: #fff;
                border: none;
                border-radius: 5px;
            }
        }

        }
    }
